{% extends "layout.html" %}

{% block myscripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">
      <h1>
        You don't like the outdoors? Unbe-leaf-able!
        <span id="report-date" style="float: right;"></span>
      </h1>
      <p></p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-body">
            Chart Findings
          </div>
        </div>
        <div class="company">
          <br><br>
          <br><br>
          The All Trail National Park Dataset provided us with 3,060 trails from 29 states and  the Island of Maui. We wanted to see which places had the most trails.
          As well as gathering the top 5 most reviewed trails with the best ratings. The bar chart indicates ten states with the most trails. The table below shows us the top 5
          trails based on their 5 out 5 score and most reviews.
          <br><br>
          <br><br>
          <br><br>
          <h2>First Choice for a Hike :</h2>
          <p>Based on our analysis, we believe Angles Landing in Zion National Park is worth the hike.
              <br> Average Rating out of 5 : 5 <br>
              <br> Difficulty : 5 <br>
              <br> Number of Reviews : 3,903 <br>
        
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            Top 10 with the most Trails 
          </div>
        </div>

        <div id="plot" style="max-width: 100%; overflow: scroll;"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table style="width:100%" border="2">
          <thead>
            <tr>
              <th colspan="4">Top 5 Based on Most Reviews & Average Scores</th>
            </tr>
            <tr>
              <th>Name</th>
              <th>State</th>
              <th>Average Ratings</th>
              <th>Number of Reviews</th>
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Angels Landing Trail</td>
              <td>Utah</td>
              <td>5</td>
              <td>3903</td>
              
            </tr>
            <tr>
              <td>Delicate Arch Trail</td>
              <td>Utah </td>
              <td>5</td>
              <td>2332</td>
              
            </tr>
            <tr>
              <td>Old Rag Mountain Loop</td>
              <td>Virginia</td>
              <td>5</td>
              <td>2278</td>
              
            </tr> 
            <td>Alum Cave Trail to Mount LeConte</td>
            <td>Tennessee</td>
            <td>5</td>
            <td>2122</td>
            
          </tr>
          <tr>
            <td>Vernal and Nevada Falls via the Mist Trail</td>
            <td>California</td>
            <td>5</td>
            <td>1869</td>
            
          </tr>    
        </table>          
      </div>
      <p><a class="btn btn-default" href="https://utah.com/zion-national-park/angels-landing">More info on Angels Landing &raquo;</a></p>
    </div>
  </div>

{% endblock %}

{% block scripts %}

<script src="/static/scripts/plots.js"></script>
{% endblock %}